<!DOCTYPE html>
<html lang="en">
<head>
    <title>EPFL Course Recommender System</title>
    <link rel="stylesheet" type= "text/css" href= "../static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
</head>
<body>
    <h1 align="center">EPFL Course Recommender System</h1>
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li onclick="reloadStart()" class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Restart</a></li>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="sectionMenu" class="pure-menu-link">Section</a>
                <ul class="pure-menu-children" id="sectionSubMenu">
                    {% for unit in units %}
                      <li class="pure-menu-item"><a href="#" class="pure-menu-link">{{ unit }}</a></li>
                    {% endfor %}
                </ul>
            {% if courses %}
            <li onclick="recommender()" class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Recommend me courses</a></li>
            {% endif %}
            </li>
        </ul>
    </div>
      {% if recommendation %}
          <table id="coursesrecommended" class="pure-table pure-table-horizontal">
            <thead>
              <tr>
                <th>Recommendations</th>
              </tr>
            </thead>
          {% for course in recommendation %}
            <tbody>
              <tr class="courses_recommended selected_grey">
                <td class="text_recommended">{{ course }}</td>
              </tr>
            </tbody>
          {% endfor %}
          </table>
      {% endif %}
      {% if courses %}
        Select the courses you took<br>
        <input type="search" class="light-table-filter" data-table="pure-table pure-table-horizontal" placeholder="Filter">

          <table id="coursesfound" class="pure-table pure-table-horizontal">
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
          {% for course in courses %}
            <tbody>
              <tr class="courses_list selected_grey">
                <td class="text">{{ course }}</td>
              </tr>
            </tbody>
          {% endfor %}
          </table>
      {% endif %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
// Global variable for all courses picked
var globalCourses = [];
// sends the section to the backend
    $(document).ready(function () {
        $("ul[id*=sectionSubMenu] li").click(function () {
            // Global variable for the section selected
            var sectionFound = $(this).text();

            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/");

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "section");
            hiddenField.setAttribute("value", sectionFound);

            form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();
        });
    });
</script>
<script type="text/javascript">
// Searches the list of courses
    (function(document) {

      var LightTableFilter = (function(Arr) {

        var _input;

        function _onInputEvent(e) {
          _input = e.target;
          var tables = document.getElementsByClassName(_input.getAttribute("data-table"));
          Arr.forEach.call(tables, function(table) {
            Arr.forEach.call(table.tBodies, function(tbody) {
              Arr.forEach.call(tbody.rows, _filter);
            });
          });
        }

        function _filter(row) {
          var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
          row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
        }

        return {
          init: function() {
            var inputs = document.getElementsByClassName('light-table-filter');
            Arr.forEach.call(inputs, function(input) {
              input.oninput = _onInputEvent;
            });
          }
        };
      })(Array.prototype);

      document.addEventListener('readystatechange', function() {
        if (document.readyState === 'complete') {
          LightTableFilter.init();
        }
      });

    })(document);
</script>
<script>
// Reloads the starting page
    function reloadStart() {
        var loc = window.location;
        window.location = loc.protocol + '//' + loc.host + loc.pathname + loc.search;
    }
</script>
<script>
// This is linked to the highlight of
// a course in the list and adding
// them to the global list or removing them
    $(".courses_list td").on("click", function() {
        var tr = $(this).parent();
        var courseText = $(this).html();
        if(tr.hasClass("selected")) {
            tr.removeClass("selected");
            // Removes the course from the global list
            globalCourses.splice(globalCourses.indexOf(courseText), 1);
        } else {
            tr.addClass("selected");
            // Adds the course to the list of courses
            globalCourses.push(courseText);
        }
    });
</script>
<script>
    // Recommend courses
    function recommender() {
        var data = {"courses":globalCourses,
                    "section": '{{ selected_section }}'};
        $.ajax({
            type: "POST",
            url: "/",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            async: false,
            error: function(data) {
              alert("We don't have the grade correlation for some courses you picked, we are currently fixing this issue, check at a later date !");
              window.location.reload();
            },
            success: function (data) {
              document.write(data);
            }
        });
    };
</script>
</body>
</html>
